.fretboard {
  width: 100%;
  background: #1f2f0d;
}
.string {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;
}
.string:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background: #fafab3;
  pointer-events: none;  //allow clickthrough
}
.string {
&1:after {
    height: 1px;
  }
&2:after {
    height: 2px;
  }
&3:after {
    height: 3px;
  }
&4:after {
    height: 4px;
  }
&5:after {
    height: 5px;
  }
&6:after {
    height: 6px;
  }
}
.fret {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
}
.fret:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: #b8b8b8;
}

.fret0 {
  max-width: 40px;
&:after {
   width: 8px;
 }
}

.noteName {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  width: 44px;
  height: 32px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

@mixin fretpoint {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
}
.string3 {
.fret3,
.fret5,
.fret7,
.fret9 {
&:before {
 @include fretpoint();
 }
}
}
.string2,
.string5 {
.fret12 {
&:before {
 @include fretpoint();
   top: 4px;
 }
}
}
.interface {
  display: flex;
  justify-content: center;
}
.interface__item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
